* {
    margin: 0;
    padding: 0;
}
body{
    background: green url(./wallhaven-green-2-min.jpg) no-repeat center center;
    background-size: cover;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}
.wrapper{
    background: rgba(255,255,255,0.3);
    border-radius: 8px;

}
.wrapper >div:nth-child(2) {
    margin-left: -60px;
    padding: 10px;

}

.wrapper>div:nth-child(3) {
    margin-left: -180px;


}

kbd {
    border: 1px solid #373737;
    display: inline-flex;
    padding: 10px;
    margin: 12px 12px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #D0D0D0;
    font-family: 'Times New Roman', Times, serif;
    width: 60px;
    height: 45px;
    text-transform: uppercase;
    border-radius: 8px;
    background: #1E1E1E;
    position: relative;
}

button {
    position: absolute;
    left: 2px;
    bottom: 2px;
    display: none;

}

kbd:hover>button {
    display: inline;
}

.fav {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 6px;

}

